<form action = "/links/create_new_link" method = "POST">
  <lable for= "link title"> Link title:</lable>
  <input type = "text" name = "title">
  <lable for= "link url"> Link url:</lable>
  <input type = "text" name = "url">
  <input type = "submit" value = "submit">
  </form>
