<form action = "/links" method = "POST">
  <label for= "link title"> Link title:</label>
  <input type = "text" name = "title">
  <label for= "link url"> Link url:</label>
  <input type = "text" name = "url">
  <label for= "link tag"> Link tag:</label>
  <input type = "text" name = "tag">
  <input type = "submit" value = "submit">
  </form>
